* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: slategray; */
    background: black;
}

#filter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.container {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background: url("./pic01.jpg");
    background-size: contain;
    background-size: 100% 100%;
}

.revealer {
    z-index: 8;
    position: absolute;
    border: 5px dashed white;
    background: transparent;
    border-radius: 50%;
}

.secret-spot {
    position: absolute;
    /* top: 50px; */
    /* left: 450px; */
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    /* background: red; */
    /* filter: brightness(0.4); */
    z-index: 1;
    background: transparent;
    /* background-color: rgba(0, 0, 0, 0.6); */
    transition: background-color 0.3s;
}

.secret-spot .secret-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background: gold;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    display: none;
    z-index: 100;
}

.success-message.visible {
    display: block;
}

.secret-spot[data-found="true"] .secret-image {
    filter: brightness(1);
}

.secret-spot[data-found="true"] {
    background-color: transparent;
    z-index: 10;
}