* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: slategray; */
    background: black;
}

.container {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.dark-overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*Obscura*/
    background-image: url('./pic01.jpg');
    z-index: 1;
    background-size: cover;
    /* filter: brightness(0.4); */
    filter: none;
    transition: filter 0.2s;
}

.revealer {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /*Clara*/
    /* background-image: url('pic01.jpg'); */
    background-color: rgba(255, 255, 255, 0.1);
    background-image: none;
    /* mix-blend-mode: overlay; */
    mix-blend-mode: screen; 
    /* background-size: cover; */
    /* background-position: 0 0; */
    /* -webkit-mask-image: radial-gradient(circle 50px at 0 0, black 100%, transparent 100%);
    mask-image: radial-gradient(circle 50px at 0 0, black 100%, transparent 100%); */
    -webkit-mask-image: radial-gradient(circle 50px at -100px -100px, black 100%, transparent 100%);
    mask-image: radial-gradient(circle 50px at -100px -100px, black 100%, transparent 100%);
}

.secret-spot {
    position: absolute;
    /* top: 50px; */
    /* left: 450px; */
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    /* background: red; */
    /* filter: brightness(0.4); */
    z-index: 1;
    background: transparent;
    /* background-color: rgba(0, 0, 0, 0.6); */
    transition: background-color 0.3s;
}

.secret-spot .secret-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* filter: brightness(0.4); */
    /* filter: none; */
    /* transition: filter 0.3s; */
}

.success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background: gold;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    display: none;
    z-index: 100;
}

.success-message.visible {
    display: block;
}

.secret-spot[data-found="true"] .secret-image {
    /* filter: brightness(1); */
    filter: none;
}

.secret-spot[data-found="true"] {
    background-color: transparent;
}
.global-darkness {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Z-Index: Sobre las imágenes, bajo la lupa */
    z-index: 5; 
    
    /* El color negro total */
    background-color: black; 
    
    /* 🛑 El truco: Haz que este negro se fusione con las capas de abajo */
    mix-blend-mode: multiply; 
    
    /* Mantenemos el opacity bajo para simular la oscuridad 
       que quieres, pero 1 para negro total */
    opacity: 1; 
}