* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: slategray; */
    background: black;
}

.container {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.dark-overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./pic01.jpg');
    /*Obscura*/
    background-size: cover;
    filter: brightness(0.4);
    transition: filter 0.2s;
}

.revealer {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('pic01.jpg');
    /*Clara*/
    background-size: cover;
    background-position: 0 0;
    -webkit-mask-image: radial-gradient(circle 50px at 0 0, black 100%, transparent 100%);
    mask-image: radial-gradient(circle 50px at 0 0, black 100%, transparent 100%);
}

.secret-spot {
    position: absolute;
    /* top: 50px; */
    top: 50%;
    /* left: 450px; */
    left: 50%;
    width: 80px;
    height: 80px;
    /* background: transparent; */
    /* background: red; */
    /* filter: brightness(0.4); */
    z-index: 5 !important;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.secret-spot .secret-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    /* filter: brightness(0.4); */
    filter: none;
    transition: filter 0.3s;
}

.success-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background: gold;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    display: none;
    z-index: 100;
}

.success-message.visible {
    display: block;
}

.secret-spot[data-found="true"] .secret-image {
    /* filter: brightness(1); */
    filter: none;
}

.secret-spot[data-found="true"] {
    background-color: transparent;
}